name: Continuous Integration

# This action works with pull requests and pushes on the main branch
on:
    pull_request:
    push:
        branches: [main]

jobs:
    prettier:
        name: Prettier Check
        runs-on: ubuntu-latest
        # Skip this job when the event is a pull request AND the PR is a draft.
        # For pushes (or other events) the job will still run.
        if: ${{ github.event_name != 'pull_request' || github.event.pull_request.draft == false }}
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v2

            - name: Run Prettier
              id: prettier-run
              uses: rutajdash/prettier-cli-action@v1.0.0
              with:
                  config_path: ./.prettierrc.yml

            # This step only runs if prettier finds errors causing the previous step to fail
            # This steps lists the files where errors were found
            - name: Prettier Output
              if: ${{ failure() }}
              shell: bash
              run: |
                  echo "The following files are not formatted:"
                  echo "${{steps.prettier-run.outputs.prettier_output}}"
